ifg_kafka_mainstream-withservice.json
{"flowContents":{"identifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb","instanceIdentifier":"36633575-018b-1000-ffff-ffffc6d196cf","name":"ifg_kafka_mainstream","comments":"","position":{"x":480.0,"y":336.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"be0fdda1-2028-3dc9-b94c-9c23360a0fbd","instanceIdentifier":"370f35d5-ebb1-1e8c-902c-3e524eb62167","name":"ForkEnrichment","comments":"","position":{"x":1000.0,"y":1368.0},"type":"org.apache.nifi.processors.standard.ForkEnrichment","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"39bf9cc9-88f4-3a48-897c-c4b48fc1d0ba","instanceIdentifier":"467005c5-018b-1000-0000-00002da1fc25","name":"Notify","comments":"","position":{"x":384.0,"y":2112.0},"type":"org.apache.nifi.processors.standard.Notify","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"signal-counter-delta":"1","distributed-cache-service":"51823acf-fee7-3b47-9b36-270e6fff8359","signal-buffer-count":"1","release-signal-id":"${kafka.key}","signal-counter-name":"header","attribute-cache-regex":"hdr_id"},"propertyDescriptors":{"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"06fff4ce-76e2-312b-8d7a-cc7f047d98d4","instanceIdentifier":"835f3bdf-5de9-1430-ffff-ffff8df931f2","name":"Update Line Record with HDR ID","comments":"","position":{"x":1000.0,"y":1152.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"/hdr_id":"${hdr_id}","/pk_composite_key_lines":"${kafka.key:replace('\"', ''):append(${l_line_number})}","record-writer":"ca6004e8-e01c-3a62-976f-07ec170c2e58","record-reader":"76a4f1d9-cf53-3657-a426-b4526466074a","replacement-value-strategy":"literal-value"},"propertyDescriptors":{"/hdr_id":{"name":"/hdr_id","displayName":"/hdr_id","identifiesControllerService":false,"sensitive":false},"/pk_composite_key_lines":{"name":"/pk_composite_key_lines","displayName":"/pk_composite_key_lines","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"245793e2-eeae-3477-b1a0-2eecaab3b83e","instanceIdentifier":"33973809-a910-1531-8dcf-e9492ab8dcda","name":"Enrichment with LINE_ID","comments":"","position":{"x":1000.0,"y":1576.0},"type":"org.apache.nifi.processors.standard.JoinEnrichment","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"dbf-default-precision":"10","Join Strategy":"SQL","Insertion Record Path":"/","Timeout":"10 min","Original Record Reader":"4423b870-f81b-32c2-bb29-97b383a553b8","Record Writer":"938f3e77-d440-30a7-9568-19a44e1533d9","Enrichment Record Reader":"3b1a63c2-b56f-3c5b-8897-deb3e7d338fd","dbf-default-scale":"0","Maximum number of Bins":"10000","SQL":"SELECT \ne.LINES_ID l_dtl_id, \no.pk_composite_key_lines, o.pk_composite_key, o.hdr_id, o.l_line_number, \no.l_line_type, o.l_applied_to_trx_id, o.l_applied_to_trx_num, o.l_entitas_edb, \no.l_entitas_ebs, o.l_cabang_edb, o.l_cabang_ebs, o.l_cost_center_edb, \no.l_cost_center_ebs, o.l_nat_account_efin_edb, o.l_nat_account_efin_ebs, \no.l_bank_invest_edb, o.l_bank_invest_ebs, o.l_lob_produk_edb, o.l_lob_produk_ebs, \no.l_channel_edb, o.l_channel_ebs, o.l_program_kerja_edb, o.l_program_kerja_ebs, \no.l_intercompany_edb, COALESCE(o.l_intercompany_ebs, '') l_intercompany_ebs, o.l_future1_edb, o.l_future1_ebs, \no.l_future2_edb, o.l_future2_ebs, o.l_future3_edb, o.l_future3_ebs, o.l_amount, \no.l_base_amount, o.l_line_description, o.l_no_kontrak, o.l_no_polis, \no.l_produk, o.l_no_claim, o.l_jenis_klaim_invest, o.l_nama_bank, o.l_jenis_klaim, \no.l_interco, o.l_jns_trans_reasuransi, o.l_sektor_usaha, o.l_sektor_mitra, o.l_wilayah, \no.l_kode_rayon, o.l_wni, o.l_attribute24, o.l_attribute25, o.l_attribute26, \no.l_attribute27, o.l_attribute28, o.l_attribute29, o.l_attribute30, o.l_created_by, \no.l_creation_date, o.l_last_updated_by, o.l_last_update_date, o.l_etl_date, \no.l_process_flag, o.err_message_1, o.err_message_2, o.err_message_3, o.err_message_4, \no.err_message_5, o.err_message_6, o.err_message_7, o.err_message_8, o.err_message_9, \no.err_message_10, o.err_message_11, o.err_message_12, o.xla_status, o.created_date, \no.last_upd_date, trim(COALESCE(o.err_message_1, '') || COALESCE(o.err_message_2, '') || \nCOALESCE(o.err_message_3, '') || COALESCE(o.err_message_4, '') || COALESCE(o.err_message_5, '') || \nCOALESCE(o.err_message_6, '') || COALESCE(o.err_message_7, '') || COALESCE(o.err_message_8, '') || \nCOALESCE(o.err_message_9, '') || COALESCE(o.err_message_10, '') || COALESCE(o.err_message_11, '') || \nCOALESCE(o.err_message_12, '')) err_message, o.event_id, o.h_ledger_id, o.h_ledger_name\nFROM original o \nJOIN enrichment e \nON o.pk_composite_key_lines = e.LINE_COMPOSITE_KEY"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Join Strategy":{"name":"Join Strategy","displayName":"Join Strategy","identifiesControllerService":false,"sensitive":false},"Insertion Record Path":{"name":"Insertion Record Path","displayName":"Insertion Record Path","identifiesControllerService":false,"sensitive":false},"Timeout":{"name":"Timeout","displayName":"Timeout","identifiesControllerService":false,"sensitive":false},"Original Record Reader":{"name":"Original Record Reader","displayName":"Original Record Reader","identifiesControllerService":true,"sensitive":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Enrichment Record Reader":{"name":"Enrichment Record Reader","displayName":"Enrichment Record Reader","identifiesControllerService":true,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"SQL":{"name":"SQL","displayName":"SQL","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure","timeout"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"3e681326-b01a-39aa-8fc7-30d3709d7631","instanceIdentifier":"467c986b-018b-1000-ffff-ffff8147f6d4","name":"Enrichment with HDR ID","comments":"","position":{"x":384.0,"y":1016.0},"type":"org.apache.nifi.processors.standard.JoinEnrichment","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"dbf-default-precision":"10","Join Strategy":"SQL","Insertion Record Path":"/","Timeout":"10 min","Original Record Reader":"ae59e818-1e5c-3778-bdf3-605ee142163f","Record Writer":"e149220e-e665-3134-82c1-80ae639e02e8","Enrichment Record Reader":"d842a496-1306-39c5-8ed1-20924c83262a","dbf-default-scale":"0","Maximum number of Bins":"10000","SQL":"SELECT \ne.PK_COMPOSITE_KEY pk_composite_key, e.HDR_ID hdr_id, o.h_legal_entity_id, o.h_ledger_id, \no.h_application_id, o.h_request_id, o.h_application_name, o.h_application_name_ebs,\no.h_event_model_code, o.h_event_model_name, o.h_event_model_name_ebs, o.h_event_class_code,\no.h_event_class_name, o.h_event_type_code, o.h_event_type_name, o.h_trx_id, o.h_trx_num,\no.h_trx_source_description, o.h_trx_date, o.h_gl_date, o.h_trx_ref_id, o.h_currency_code,\no.h_exchange_rate_type, o.h_exchange_date, o.h_exchange_rate, o.h_biaya_adm, o.h_lebih_bayar, \no.h_no_kontrak, o.h_no_polis, o.h_produk, o.h_no_claim, o.h_bukti_pembayaran, o.h_bukti_penerimaan, \no.h_jenisnya, o.h_bayar_tenor, o.h_cara_bayar, o.h_migrasi, o.h_jenis_klaim, o.h_nama_peserta, \no.h_no_desisi, o.h_no_mutasi, o.h_created_by, o.h_creation_date, o.h_last_updated_by, o.h_last_update_date,\no.h_process_flag, o.err_message_1, o.err_message_2, o.err_message_3, o.err_message_4, o.err_message_5,\no.err_message_6, o.err_message_7, o.err_message_8, o.err_message_9, o.err_message_10, o.err_message_11,\no.err_message_12, o.xla_status, o.h_ledger_name, trim(COALESCE(o.err_message_1, '') || COALESCE(o.err_message_2, '') || \nCOALESCE(o.err_message_3, '') || COALESCE(o.err_message_4, '') || COALESCE(o.err_message_5, '') || \nCOALESCE(o.err_message_6, '') || COALESCE(o.err_message_7, '') || COALESCE(o.err_message_8, '') || \nCOALESCE(o.err_message_9, '') || COALESCE(o.err_message_10, '') || COALESCE(o.err_message_11, '') || \nCOALESCE(o.err_message_12, '')) err_message\nFROM original o\nJOIN enrichment e\nON o.pk_composite_key = e.PK_COMPOSITE_KEY"},"propertyDescriptors":{"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Join Strategy":{"name":"Join Strategy","displayName":"Join Strategy","identifiesControllerService":false,"sensitive":false},"Insertion Record Path":{"name":"Insertion Record Path","displayName":"Insertion Record Path","identifiesControllerService":false,"sensitive":false},"Timeout":{"name":"Timeout","displayName":"Timeout","identifiesControllerService":false,"sensitive":false},"Original Record Reader":{"name":"Original Record Reader","displayName":"Original Record Reader","identifiesControllerService":true,"sensitive":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Enrichment Record Reader":{"name":"Enrichment Record Reader","displayName":"Enrichment Record Reader","identifiesControllerService":true,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"SQL":{"name":"SQL","displayName":"SQL","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure","timeout"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"c9ae9159-f892-3e81-b645-687b7dbdca92","instanceIdentifier":"5b2b58d2-018b-1000-0000-000019f92963","name":"Retrieve LINE_NUMBER","comments":"","position":{"x":1000.0,"y":944.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"Destination":"flowfile-attribute","l_line_number":"$.l_line_number","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"l_line_number":{"name":"l_line_number","displayName":"l_line_number","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"8982c0ee-02f7-3186-9222-1edde537345c","instanceIdentifier":"4bd6398d-018b-1000-0000-00001bea6e22","name":"Retrieve HDR ID","comments":"","position":{"x":384.0,"y":1904.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","hdr_id":"$.HDR_ID","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"hdr_id":{"name":"hdr_id","displayName":"hdr_id","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"3aefe5a2-5fac-3280-b81c-73f4943a2b49","instanceIdentifier":"835f3b82-5de9-1430-ffff-ffffa9aaef01","name":"Split Line Record","comments":"","position":{"x":1000.0,"y":744.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"Record Writer":"ca6004e8-e01c-3a62-976f-07ec170c2e58","Record Reader":"76a4f1d9-cf53-3657-a426-b4526466074a","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"86a7aa05-85f0-3b5a-9f80-95fd891961aa","instanceIdentifier":"0aae35f8-356f-1c23-9d7c-99033b857cb8","name":"Insert into XXCUST_FAH_IFG_LNS","comments":"","position":{"x":1000.0,"y":1984.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Fail on Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"false","put-db-record-dcbp-service":"c6383d6a-0a5d-35fc-971d-a4d08d358d7c","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"Oracle 12+","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"XXCUST_FAH_IFG_LNS","put-db-record-unmatched-field-behavior":"Fail on Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"4ce8b4ea-3498-3702-ab1b-073e79a63fd8","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"88dd985a-21b3-3a88-a568-268efdb406cf","instanceIdentifier":"be3b4afd-c4f1-1898-ffff-ffff8c0d9e41","name":"Combine with Same Header Key","comments":"","position":{"x":1000.0,"y":56.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"max-bin-age":"5 seconds","correlation-attribute-name":"kafka.key","Attribute Strategy":"Keep Only Common Attributes","min-records":"100","max-bin-size":null,"record-writer":"25a51697-8042-3756-b8fe-c65fb56af0dd","merge-strategy":"Bin-Packing Algorithm","record-reader":"76a4f1d9-cf53-3657-a426-b4526466074a","max-records":"1000","min-bin-size":"0 B","max.bin.count":"4"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"5b9e0237-f706-3d5a-82b8-566cab540bb6","instanceIdentifier":"495936ca-1107-16df-a831-c27a2032cab0","name":"Retrieve Distinct Header","comments":"","position":{"x":384.0,"y":512.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"e149220e-e665-3134-82c1-80ae639e02e8","distinct":"SELECT DISTINCT * FROM FLOWFILE","record-reader":"ae59e818-1e5c-3778-bdf3-605ee142163f","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"distinct":{"name":"distinct","displayName":"distinct","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"e6f0166e-1944-30fa-a060-62954877b40a","instanceIdentifier":"36644d63-018b-1000-0000-000024c210b4","name":"ConsumeKafka2CDP","comments":"","position":{"x":384.0,"y":56.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka2CDP","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-kafka-2-nar","version":"1.0.0.2.2.7.100-3"},"properties":{"header-name-regex":null,"Commit Offsets":"true","group.id":"nifi_header_lines","bootstrap.servers":"ifg-datahub-kafka-corebroker0.ifg-poc.spyl-s00y.cloudera.site:9093,ifg-datahub-kafka-corebroker1.ifg-poc.spyl-s00y.cloudera.site:9093,ifg-datahub-kafka-corebroker2.ifg-poc.spyl-s00y.cloudera.site:9093","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"5 secs","sasl.mechanism":"PLAIN","honor-transactions":"true","interceptor.classes":"com.hortonworks.smm.kafka.monitoring.interceptors.MonitoringConsumerInterceptor","kerberos-user-service":null,"message-header-encoding":"UTF-8","message-demarcator":null,"sasl.username":"srv_ifg_talend_svcacc","max.poll.records":"10000","aws.profile.name":null,"security.protocol":"SASL_SSL","ssl.context.service":"44c4938a-096d-3cc2-9ddc-214cfbd866c8","sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"t_ifg_header_lines","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"interceptor.classes":{"name":"interceptor.classes","displayName":"interceptor.classes","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"1adfb0d6-86e7-3970-a395-d74a59368845","instanceIdentifier":"467f506f-018b-1000-0000-00007749838c","name":"XXCUST_FAH_IFG_HDR_S.NEXTVAL","comments":"","position":{"x":-240.0,"y":728.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"3bb4d48c-bb78-3eaf-8bbb-2a003220e265","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"c6383d6a-0a5d-35fc-971d-a4d08d358d7c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT '${kafka.key:replace('\"', '')}' AS pk_composite_key, XXCUST_FAH_IFG_HDR_S.NEXTVAL as hdr_id FROM DUAL","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"09f607ab-87ae-3dd1-957f-bab9e3cf0d1d","instanceIdentifier":"835f37c4-5de9-1430-a071-cb041383bdba","name":"Transform to XXCUST_FAH_IFG_LNS","comments":"","position":{"x":1000.0,"y":1776.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"jolt-spec":"[\n\t{\n\t\t\"operation\": \"shift\",\n\t\t\"spec\": {\n\t\t\t\"*\": {\n\t\t\t\t\"l_dtl_id\": \"DTL_ID\",\n\t\t\t\t\"hdr_id\": \"HDR_ID\",\n\t\t\t\t\"l_line_number\": \"LINE_NUMBER\",\n\t\t\t\t\"l_line_type\": \"LINE_TYPE\",\n\t\t\t\t\"l_cabang_ebs\": \"CABANG\",\n\t\t\t\t\"l_cost_center_ebs\": \"COST_CENTER\",\n\t\t\t\t\"l_nat_account_efin_ebs\": \"NAT_ACCOUNT_EFIN\",\n\t\t\t\t\"l_bank_invest_ebs\": \"BANK_INVEST\",\n\t\t\t\t\"l_lob_produk_ebs\": \"LOB_PRODUK\",\n\t\t\t\t\"l_channel_ebs\": \"CHANNEL\",\n\t\t\t\t\"l_program_kerja_ebs\": \"PROGRAM_KERJA\",\n\t\t\t\t\"l_intercompany_ebs\": \"INTERCOMPANY\",\n\t\t\t\t\"l_future1_ebs\": \"FUTURE1\",\n\t\t\t\t\"l_future2_ebs\": \"FUTURE2\",\n\t\t\t\t\"l_future3_ebs\": \"FUTURE3\",\n\t\t\t\t\"l_amount\": \"AMOUNT\",\n\t\t\t\t\"l_base_amount\": \"BASE_AMOUNT\",\n\t\t\t\t\"l_line_description\": \"LINE_DESCRIPTION\",\n\t\t\t\t\"l_no_kontrak\": \"NO_KONTRAK\",\n\t\t\t\t\"l_no_polis\": \"NO_POLIS\",\n\t\t\t\t\"l_produk\": \"PRODUK\",\n\t\t\t\t\"l_no_claim\": \"NO_CLAIM\",\n\t\t\t\t\"l_jenis_klaim_invest\": \"JENIS_KLAIM_INVEST\",\n\t\t\t\t\"l_nama_bank\": \"NAMA_BANK\",\n\t\t\t\t\"l_jenis_klaim\": \"JENIS_KLAIM\",\n\t\t\t\t\"l_interco\": \"INTERCO\",\n\t\t\t\t\"l_jns_trans_reasuransi\": \"JNS_TRANS_REASURANSI\",\n\t\t\t\t\"l_sektor_usaha\": \"SEKTOR_USAHA\",\n\t\t\t\t\"l_sektor_mitra\": \"SEKTOR_MITRA\",\n\t\t\t\t\"l_wilayah\": \"WILAYAH\",\n\t\t\t\t\"l_kode_rayon\": \"KODE_RAYON\",\n\t\t\t\t\"l_wni\": \"WNI\",\n\t\t\t\t\"l_attribute25\": \"ATTRIBUTE25\",\n\t\t\t\t\"l_attribute26\": \"ATTRIBUTE26\",\n\t\t\t\t\"l_attribute27\": \"ATTRIBUTE27\",\n\t\t\t\t\"l_attribute28\": \"ATTRIBUTE28\",\n\t\t\t\t\"l_attribute29\": \"ATTRIBUTE29\",\n\t\t\t\t\"l_attribute30\": \"ATTRIBUTE30\",\n\t\t\t\t\"l_created_by\": \"CREATED_BY\",\n\t\t\t\t\"l_creation_date\": \"CREATION_DATE\",\n\t\t\t\t\"l_last_updated_by\": \"LAST_UPDATED_BY\",\n\t\t\t\t\"l_last_update_date\": \"LAST_UPDATE_DATE\",\n\t\t\t\t\"created_date\": \"CREATED_DATE\",\n\t\t\t\t\"last_upd_date\": \"LAST_UPD_DATE\",\n\t\t\t\t\"l_attribute24\": \"ATTRIBUTE24\",\n\t\t\t\t\"xla_status\": \"XLA_STATUS\",\n\t\t\t\t\"err_message\": \"ERR_MESSAGE\",\n\t\t\t\t\"event_id\": \"EVENT_ID\",\n\t\t\t\t\"h_ledger_id\": \"LEDGER_ID\",\n\t\t\t\t\"h_ledger_name\": \"LEDGER_NAME\",\n\t\t\t\t\"l_entitas_ebs\": \"ENTITAS\"\n\t\t\t}\n\t\t}\n\t}\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"e31ba43a-12aa-361c-88bf-18c2f2c4f5d0","instanceIdentifier":"4bea6eff-018b-1000-ffff-ffff9efca8bd","name":"Check Header Error","comments":"","position":{"x":384.0,"y":1232.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"Routing Strategy":"Route to Property name","multiple":"${record.count:gt(1)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"multiple":{"name":"multiple","displayName":"multiple","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"081c46ca-0fb2-3cec-a387-3f851926b30e","instanceIdentifier":"467dd664-018b-1000-0000-00006d988a7b","name":"ForkEnrichment","comments":"","position":{"x":384.0,"y":720.0},"type":"org.apache.nifi.processors.standard.ForkEnrichment","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"42eb250a-c719-3906-8299-235df1edd7ea","instanceIdentifier":"4afe27b7-018b-1000-ffff-fffff41d2984","name":"Transform to XXCUST_FAH_IFG_HDR","comments":"","position":{"x":384.0,"y":1464.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"hdr_id\": \"HDR_ID\",\n        \"h_application_name\": \"APPLICATION_NAME\",\n        \"h_event_model_code\": \"ENTITY_CODE\",\n        \"h_event_class_code\": \"EVENT_CLASS_CODE\",\n        \"h_event_type_code\": \"EVENT_TYPE_CODE\",\n        \"h_trx_id\": \"TRX_ID\",\n        \"h_trx_num\": \"TRX_NUM\",\n        \"h_trx_source_description\": \"TRX_SOURCE_DESCRIPTION\",\n        \"h_trx_date\": \"TRX_DATE\",\n        \"h_gl_date\": \"GL_DATE\",\n        \"h_trx_ref_id\": \"TRX_REF_ID\",\n        \"h_currency_code\": \"CURRENCY_CODE\",\n        \"h_exchange_rate_type\": \"EXCHANGE_RATE_TYPE\",\n        \"h_exchange_date\": \"EXCHANGE_DATE\",\n        \"h_exchange_rate\": \"EXCHANGE_RATE\",\n        \"h_biaya_adm\": \"BIAYA_ADM\",\n        \"h_lebih_bayar\": \"LEBIH_BAYAR\",\n        \"h_no_kontrak\": \"NO_KONTRAK\",\n        \"h_no_polis\": \"NO_POLIS\",\n        \"h_produk\": \"PRODUK\",\n        \"h_no_claim\": \"NO_CLAIM\",\n        \"h_bukti_pembayaran\": \"BUKTI_PEMBAYARAN\",\n        \"h_bukti_penerimaan\": \"BUKTI_PENERIMAAN\",\n        \"h_jenisnya\": \"JENISNYA\",\n        \"h_bayar_tenor\": \"BAYAR_TENOR\",\n        \"h_cara_bayar\": \"CARA_BAYAR\",\n        \"h_migrasi\": \"MIGRASI\",\n        \"h_jenis_klaim\": \"JENIS_KLAIM\",\n        \"h_nama_peserta\": \"NAMA_PESERTA\",\n        \"h_no_desisi\": \"NO_DESISI\",\n        \"h_no_mutasi\": \"NO_MUTASI\",\n        \"h_legal_entity_id\": \"LEGAL_ENTITY_ID\",\n        \"h_ledger_id\": \"LEDGER_ID\",\n        \"h_application_id\": \"APPLICATION_ID\",\n        \"h_event_id\": \"EVENT_ID\",\n        \"h_request_id\": \"REQUEST_ID\",\n        \"h_creation_date\": \"CREATION_DATE\",\n        \"h_last_update_date\": \"LAST_UPDATE_DATE\",\n        \"xla_status\": \"XLA_STATUS\",\n        \"err_message\": \"ERR_MESSAGE\",\n        \"h_created_date\": \"CREATED_DATE\",\n        \"h_last_upd_date\": \"LAST_UPD_DATE\",\n        \"h_attribute24\": \"ATTRIBUTE24\",\n        \"h_process_flag\": \"PROCESS_FLAG\",\n        \"h_ledger_name\": \"LEDGER_NAME\"\n      }\n    }\n\t}\n]","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"26d73d0e-70c1-3363-a9b3-65525ba5015b","instanceIdentifier":"f6423d8b-529f-1721-8fc8-63db9562aaa6","name":"Take Error Header","comments":"","position":{"x":-280.0,"y":1464.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"e149220e-e665-3134-82c1-80ae639e02e8","proper":"SELECT DISTINCT * FROM FLOWFILE WHERE err_message is not null and err_message <> ''","record-reader":"ae59e818-1e5c-3778-bdf3-605ee142163f","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proper":{"name":"proper","displayName":"proper","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"547270d0-068d-314f-b545-c100e78af778","instanceIdentifier":"be3b4de1-c4f1-1898-ffff-ffffcf94f422","name":"HDR ID Lookup","comments":"","position":{"x":384.0,"y":280.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"result-contents":"record-fields","routing-strategy":"route-to-success","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/hdr_id","record-writer":"25a51697-8042-3756-b8fe-c65fb56af0dd","record-reader":"76a4f1d9-cf53-3657-a426-b4526466074a","lookup-service":"a0f3d916-b395-35cd-8815-714e7ead71f7","record-update-strategy":"use-property","key":"/pk_composite_key"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"146bafde-c69a-30a0-b179-a5a8fb2a4b1e","instanceIdentifier":"466fe816-018b-1000-ffff-fffff57f7466","name":"Wait","comments":"","position":{"x":1000.0,"y":528.0},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"wait-buffer-count":"1","wait-mode":"keep","attribute-copy-mode":"keeporiginal","distributed-cache-service":"51823acf-fee7-3b47-9b36-270e6fff8359","releasable-flowfile-count":"1","release-signal-id":"${kafka.key}","signal-counter-name":"header","expiration-duration":"10 min","target-signal-count":"1","wait-penalty-duration":null},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["wait","expired","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"045491de-dc65-3073-a21d-eb7d91f0627f","instanceIdentifier":"be3b4d7e-c4f1-1898-0000-000041c112f8","name":"Insert into XXCUST_FAH_IFG_HDR","comments":"","position":{"x":384.0,"y":1680.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"false","put-db-record-dcbp-service":"c6383d6a-0a5d-35fc-971d-a4d08d358d7c","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"Oracle 12+","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"XXCUST_FAH_IFG_HDR","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"746407ee-4ae7-39fa-8751-23eaf3e6ff57","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"10f97387-5197-3dd3-9716-e21ba5f0f01d","instanceIdentifier":"460410b9-018b-1000-0000-000061e9c252","name":"Check HDR ID","comments":"","position":{"x":1000.0,"y":280.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"exist":"SELECT * FROM FLOWFILE WHERE hdr_id is not null","new":"SELECT * FROM FLOWFILE WHERE hdr_id is null","cache-schema":"true","dbf-default-precision":"10","record-writer":"25a51697-8042-3756-b8fe-c65fb56af0dd","record-reader":"76a4f1d9-cf53-3657-a426-b4526466074a","include-zero-record-flowfiles":"false","dbf-default-scale":"0"},"propertyDescriptors":{"exist":{"name":"exist","displayName":"exist","identifiesControllerService":false,"sensitive":false},"new":{"name":"new","displayName":"new","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"16922eca-205e-3ebe-aaf3-05c5a217783f","instanceIdentifier":"7dda329f-2990-1099-9e47-d030fd9d2573","name":"XXCUST_FAH_IFG_LNS_S.NEXTVAL","comments":"","position":{"x":1608.0,"y":1376.0},"type":"org.apache.nifi.processors.standard.ExecuteSQLRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"esql-max-rows":"0","esqlrecord-record-writer":"95a336a7-f53a-33d8-b48c-97b8707fa98f","dbf-default-precision":"10","Max Wait Time":"0 seconds","Database Connection Pooling Service":"c6383d6a-0a5d-35fc-971d-a4d08d358d7c","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"esql-output-batch-size":"0","esql-fetch-size":"0","SQL select query":"SELECT '${kafka.key:replace('\"', ''):append(${l_line_number})}' AS line_composite_key, XXCUST_FAH_IFG_LNS_S.NEXTVAL as lines_id FROM DUAL","esqlrecord-normalize":"false"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false},"esqlrecord-record-writer":{"name":"esqlrecord-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false},"SQL select query":{"name":"SQL select query","displayName":"SQL select query","identifiesControllerService":false,"sensitive":false},"esqlrecord-normalize":{"name":"esqlrecord-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"752bec74-7635-3597-ac9e-922c09bb8996","instanceIdentifier":"4bd71432-018b-1000-0000-000010db41e1","name":"","source":{"id":"8982c0ee-02f7-3186-9222-1edde537345c","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Retrieve HDR ID","comments":"","instanceIdentifier":"4bd6398d-018b-1000-0000-00001bea6e22"},"destination":{"id":"39bf9cc9-88f4-3a48-897c-c4b48fc1d0ba","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Notify","comments":"","instanceIdentifier":"467005c5-018b-1000-0000-00002da1fc25"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"2da375ac-17ed-3dd2-9c07-6e2358b5ac68","instanceIdentifier":"835f3b96-5de9-1430-ffff-ffff9fbb7ae2","name":"","source":{"id":"3aefe5a2-5fac-3280-b81c-73f4943a2b49","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Split Line Record","comments":"","instanceIdentifier":"835f3b82-5de9-1430-ffff-ffffa9aaef01"},"destination":{"id":"c9ae9159-f892-3e81-b645-687b7dbdca92","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Retrieve LINE_NUMBER","comments":"","instanceIdentifier":"5b2b58d2-018b-1000-0000-000019f92963"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"f058913e-2021-3111-ad4a-791b02285d0e","instanceIdentifier":"467e7a59-018b-1000-ffff-ffff9c0c89f2","name":"","source":{"id":"081c46ca-0fb2-3cec-a387-3f851926b30e","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"ForkEnrichment","comments":"","instanceIdentifier":"467dd664-018b-1000-0000-00006d988a7b"},"destination":{"id":"3e681326-b01a-39aa-8fc7-30d3709d7631","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Enrichment with HDR ID","comments":"","instanceIdentifier":"467c986b-018b-1000-ffff-ffff8147f6d4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"7fc9fa5f-6862-3e0b-bf38-56d856c9801f","instanceIdentifier":"46656e94-018b-1000-ffff-ffffb58c478d","name":"","source":{"id":"5b9e0237-f706-3d5a-82b8-566cab540bb6","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Retrieve Distinct Header","comments":"","instanceIdentifier":"495936ca-1107-16df-a831-c27a2032cab0"},"destination":{"id":"081c46ca-0fb2-3cec-a387-3f851926b30e","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"ForkEnrichment","comments":"","instanceIdentifier":"467dd664-018b-1000-0000-00006d988a7b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["distinct"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"f060a808-853e-39e0-84af-063750a8c60f","instanceIdentifier":"7016293c-018b-1000-0000-00007924b261","name":"","source":{"id":"86a7aa05-85f0-3b5a-9f80-95fd891961aa","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Insert into XXCUST_FAH_IFG_LNS","comments":"","instanceIdentifier":"0aae35f8-356f-1c23-9d7c-99033b857cb8"},"destination":{"id":"33511dc4-0e12-31b0-b50b-901c45afaf69","type":"FUNNEL","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Funnel","comments":"","instanceIdentifier":"70161af1-018b-1000-0000-00005a878801"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"a0584ab9-58be-3f1b-8254-bcf9fe1ca853","instanceIdentifier":"f6423fc6-529f-1721-0000-000070c7293e","name":"single","source":{"id":"e31ba43a-12aa-361c-88bf-18c2f2c4f5d0","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Check Header Error","comments":"","instanceIdentifier":"4bea6eff-018b-1000-ffff-ffff9efca8bd"},"destination":{"id":"42eb250a-c719-3906-8299-235df1edd7ea","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Transform to XXCUST_FAH_IFG_HDR","comments":"","instanceIdentifier":"4afe27b7-018b-1000-ffff-fffff41d2984"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"9993aa85-5e65-3e2e-b7e6-a358d7c8641d","instanceIdentifier":"5bbb8237-018b-1000-0000-00003fd48987","name":"","source":{"id":"245793e2-eeae-3477-b1a0-2eecaab3b83e","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Enrichment with LINE_ID","comments":"","instanceIdentifier":"33973809-a910-1531-8dcf-e9492ab8dcda"},"destination":{"id":"09f607ab-87ae-3dd1-957f-bab9e3cf0d1d","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Transform to XXCUST_FAH_IFG_LNS","comments":"","instanceIdentifier":"835f37c4-5de9-1430-a071-cb041383bdba"},"labelIndex":1,"zIndex":0,"selectedRelationships":["joined"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"6ea2cf69-5ca6-3c83-9cf7-0b2e6bf93d1f","instanceIdentifier":"465b1b41-018b-1000-0000-000030564a00","name":"","source":{"id":"10f97387-5197-3dd3-9716-e21ba5f0f01d","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Check HDR ID","comments":"","instanceIdentifier":"460410b9-018b-1000-0000-000061e9c252"},"destination":{"id":"964bdac9-52a4-3d01-ad1d-9a3af6bb226b","type":"FUNNEL","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Funnel","comments":"","instanceIdentifier":"465b02ee-018b-1000-ffff-ffffb1124249"},"labelIndex":1,"zIndex":0,"selectedRelationships":["exist"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"440cd3ae-a86f-3a4e-b953-1ab6a7976ca7","instanceIdentifier":"467f8220-018b-1000-ffff-ffff9a1236d9","name":"","source":{"id":"081c46ca-0fb2-3cec-a387-3f851926b30e","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"ForkEnrichment","comments":"","instanceIdentifier":"467dd664-018b-1000-0000-00006d988a7b"},"destination":{"id":"1adfb0d6-86e7-3970-a395-d74a59368845","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"XXCUST_FAH_IFG_HDR_S.NEXTVAL","comments":"","instanceIdentifier":"467f506f-018b-1000-0000-00007749838c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["enrichment"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"08faccc2-7574-337b-858b-6b4f6fce12fc","instanceIdentifier":"deb5356e-7293-1a07-bb32-16088dd88646","name":"","source":{"id":"16922eca-205e-3ebe-aaf3-05c5a217783f","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"XXCUST_FAH_IFG_LNS_S.NEXTVAL","comments":"","instanceIdentifier":"7dda329f-2990-1099-9e47-d030fd9d2573"},"destination":{"id":"245793e2-eeae-3477-b1a0-2eecaab3b83e","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Enrichment with LINE_ID","comments":"","instanceIdentifier":"33973809-a910-1531-8dcf-e9492ab8dcda"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"694ee91b-527c-3e8c-8ef1-4ee133aa2b48","instanceIdentifier":"f6423d92-529f-1721-0000-000050094761","name":"","source":{"id":"e31ba43a-12aa-361c-88bf-18c2f2c4f5d0","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Check Header Error","comments":"","instanceIdentifier":"4bea6eff-018b-1000-ffff-ffff9efca8bd"},"destination":{"id":"26d73d0e-70c1-3363-a9b3-65525ba5015b","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Take Error Header","comments":"","instanceIdentifier":"f6423d8b-529f-1721-8fc8-63db9562aaa6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["multiple"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"ce181e46-b6ad-3385-83df-8140093a25d3","instanceIdentifier":"5b80b05e-018b-1000-0000-000017b767e1","name":"","source":{"id":"c9ae9159-f892-3e81-b645-687b7dbdca92","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Retrieve LINE_NUMBER","comments":"","instanceIdentifier":"5b2b58d2-018b-1000-0000-000019f92963"},"destination":{"id":"06fff4ce-76e2-312b-8d7a-cc7f047d98d4","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Update Line Record with HDR ID","comments":"","instanceIdentifier":"835f3bdf-5de9-1430-ffff-ffff8df931f2"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"68a38f94-f80c-3a01-ab7e-8e24cb90fdaa","instanceIdentifier":"7015d9a9-018b-1000-ffff-ffffd04bd483","name":"","source":{"id":"86a7aa05-85f0-3b5a-9f80-95fd891961aa","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Insert into XXCUST_FAH_IFG_LNS","comments":"","instanceIdentifier":"0aae35f8-356f-1c23-9d7c-99033b857cb8"},"destination":{"id":"571c80cd-6f58-39af-b59b-53b6c310b218","type":"FUNNEL","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Funnel","comments":"","instanceIdentifier":"7015c813-018b-1000-ffff-ffffe23d5ddd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"c5440ac3-26ca-3a93-8957-12fd5ee73d01","instanceIdentifier":"5b80cdd3-018b-1000-ffff-fffff668a9e2","name":"","source":{"id":"06fff4ce-76e2-312b-8d7a-cc7f047d98d4","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Update Line Record with HDR ID","comments":"","instanceIdentifier":"835f3bdf-5de9-1430-ffff-ffff8df931f2"},"destination":{"id":"be0fdda1-2028-3dc9-b94c-9c23360a0fbd","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"ForkEnrichment","comments":"","instanceIdentifier":"370f35d5-ebb1-1e8c-902c-3e524eb62167"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"ad177266-fca7-307a-a918-ab399f15d730","instanceIdentifier":"f6423dee-529f-1721-ffff-ffffa609cb5a","name":"","source":{"id":"26d73d0e-70c1-3363-a9b3-65525ba5015b","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Take Error Header","comments":"","instanceIdentifier":"f6423d8b-529f-1721-8fc8-63db9562aaa6"},"destination":{"id":"42eb250a-c719-3906-8299-235df1edd7ea","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Transform to XXCUST_FAH_IFG_HDR","comments":"","instanceIdentifier":"4afe27b7-018b-1000-ffff-fffff41d2984"},"labelIndex":1,"zIndex":0,"selectedRelationships":["proper"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"ba35cfc8-bcf2-3c07-b7d1-750f0aede016","instanceIdentifier":"4b164bfb-018b-1000-ffff-ffffe26d8552","name":"","source":{"id":"045491de-dc65-3073-a21d-eb7d91f0627f","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Insert into XXCUST_FAH_IFG_HDR","comments":"","instanceIdentifier":"be3b4d7e-c4f1-1898-0000-000041c112f8"},"destination":{"id":"8982c0ee-02f7-3186-9222-1edde537345c","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Retrieve HDR ID","comments":"","instanceIdentifier":"4bd6398d-018b-1000-0000-00001bea6e22"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"e744d8c2-94ac-37d0-b6c2-14b63fea3ea8","instanceIdentifier":"465a93a5-018b-1000-0000-00007191a8ec","name":"lines","source":{"id":"10f97387-5197-3dd3-9716-e21ba5f0f01d","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Check HDR ID","comments":"","instanceIdentifier":"460410b9-018b-1000-0000-000061e9c252"},"destination":{"id":"146bafde-c69a-30a0-b179-a5a8fb2a4b1e","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Wait","comments":"","instanceIdentifier":"466fe816-018b-1000-ffff-fffff57f7466"},"labelIndex":1,"zIndex":0,"selectedRelationships":["new"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"ece6ebbf-30e6-39d2-928f-49b1cbf8a76c","instanceIdentifier":"be3b4c24-c4f1-1898-ffff-fffff0c6d814","name":"","source":{"id":"88dd985a-21b3-3a88-a568-268efdb406cf","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Combine with Same Header Key","comments":"","instanceIdentifier":"be3b4afd-c4f1-1898-ffff-ffff8c0d9e41"},"destination":{"id":"547270d0-068d-314f-b545-c100e78af778","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"HDR ID Lookup","comments":"","instanceIdentifier":"be3b4de1-c4f1-1898-ffff-ffffcf94f422"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"bb85b32e-c4a8-3b42-9562-0c622271be08","instanceIdentifier":"4671008b-018b-1000-ffff-ffff9d753c89","name":"","source":{"id":"146bafde-c69a-30a0-b179-a5a8fb2a4b1e","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Wait","comments":"","instanceIdentifier":"466fe816-018b-1000-ffff-fffff57f7466"},"destination":{"id":"3aefe5a2-5fac-3280-b81c-73f4943a2b49","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Split Line Record","comments":"","instanceIdentifier":"835f3b82-5de9-1430-ffff-ffffa9aaef01"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"6aee2eaa-cf24-3250-b4ce-3009dd90aa8b","instanceIdentifier":"4be64c0c-018b-1000-0000-000056b7a3d5","name":"","source":{"id":"3e681326-b01a-39aa-8fc7-30d3709d7631","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Enrichment with HDR ID","comments":"","instanceIdentifier":"467c986b-018b-1000-ffff-ffff8147f6d4"},"destination":{"id":"e31ba43a-12aa-361c-88bf-18c2f2c4f5d0","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Check Header Error","comments":"","instanceIdentifier":"4bea6eff-018b-1000-ffff-ffff9efca8bd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["joined"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"5dc6f607-d331-3713-81db-92164104311c","instanceIdentifier":"45e73deb-018b-1000-0000-0000610d84a8","name":"","source":{"id":"547270d0-068d-314f-b545-c100e78af778","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"HDR ID Lookup","comments":"","instanceIdentifier":"be3b4de1-c4f1-1898-ffff-ffffcf94f422"},"destination":{"id":"10f97387-5197-3dd3-9716-e21ba5f0f01d","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Check HDR ID","comments":"","instanceIdentifier":"460410b9-018b-1000-0000-000061e9c252"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"5c346f0a-653c-31a5-a726-0342497090d2","instanceIdentifier":"468f9522-018b-1000-0000-00006b73e6d7","name":"","source":{"id":"1adfb0d6-86e7-3970-a395-d74a59368845","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"XXCUST_FAH_IFG_HDR_S.NEXTVAL","comments":"","instanceIdentifier":"467f506f-018b-1000-0000-00007749838c"},"destination":{"id":"3e681326-b01a-39aa-8fc7-30d3709d7631","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Enrichment with HDR ID","comments":"","instanceIdentifier":"467c986b-018b-1000-ffff-ffff8147f6d4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"902fe824-2c0e-347b-a984-221565c576bf","instanceIdentifier":"be3b3aba-c4f1-1898-ffff-ffffb1a5708b","name":"","source":{"id":"e6f0166e-1944-30fa-a060-62954877b40a","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"ConsumeKafka2CDP","comments":"","instanceIdentifier":"36644d63-018b-1000-0000-000024c210b4"},"destination":{"id":"88dd985a-21b3-3a88-a568-268efdb406cf","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Combine with Same Header Key","comments":"","instanceIdentifier":"be3b4afd-c4f1-1898-ffff-ffff8c0d9e41"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"c969328f-2cbb-3125-acf3-22b1657a918c","instanceIdentifier":"5f8f462d-018b-1000-ffff-ffff914a949f","name":"","source":{"id":"86a7aa05-85f0-3b5a-9f80-95fd891961aa","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Insert into XXCUST_FAH_IFG_LNS","comments":"","instanceIdentifier":"0aae35f8-356f-1c23-9d7c-99033b857cb8"},"destination":{"id":"86a7aa05-85f0-3b5a-9f80-95fd891961aa","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Insert into XXCUST_FAH_IFG_LNS","comments":"","instanceIdentifier":"0aae35f8-356f-1c23-9d7c-99033b857cb8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1472.0,"y":2048.0},{"x":1472.0,"y":2176.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"34c76991-d26e-303a-820a-fa76e17f59ca","instanceIdentifier":"4b167d59-018b-1000-ffff-fffff57ce2db","name":"","source":{"id":"045491de-dc65-3073-a21d-eb7d91f0627f","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Insert into XXCUST_FAH_IFG_HDR","comments":"","instanceIdentifier":"be3b4d7e-c4f1-1898-0000-000041c112f8"},"destination":{"id":"045491de-dc65-3073-a21d-eb7d91f0627f","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Insert into XXCUST_FAH_IFG_HDR","comments":"","instanceIdentifier":"be3b4d7e-c4f1-1898-0000-000041c112f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":224.0,"y":1736.0},{"x":184.0,"y":1776.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"1b453df8-a990-3fc0-887a-1a76abec70c6","instanceIdentifier":"4afe4b95-018b-1000-0000-000001c17dda","name":"","source":{"id":"42eb250a-c719-3906-8299-235df1edd7ea","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Transform to XXCUST_FAH_IFG_HDR","comments":"","instanceIdentifier":"4afe27b7-018b-1000-ffff-fffff41d2984"},"destination":{"id":"045491de-dc65-3073-a21d-eb7d91f0627f","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Insert into XXCUST_FAH_IFG_HDR","comments":"","instanceIdentifier":"be3b4d7e-c4f1-1898-0000-000041c112f8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"c888b954-8fad-3620-9272-b7eda181e737","instanceIdentifier":"46705aac-018b-1000-0000-00001f1b5c8c","name":"header","source":{"id":"10f97387-5197-3dd3-9716-e21ba5f0f01d","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Check HDR ID","comments":"","instanceIdentifier":"460410b9-018b-1000-0000-000061e9c252"},"destination":{"id":"5b9e0237-f706-3d5a-82b8-566cab540bb6","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Retrieve Distinct Header","comments":"","instanceIdentifier":"495936ca-1107-16df-a831-c27a2032cab0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["new"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"bc34029b-9c8f-36a9-9017-3e320db30cba","instanceIdentifier":"db613578-3661-1615-a7e0-38823cf6d7f8","name":"","source":{"id":"be0fdda1-2028-3dc9-b94c-9c23360a0fbd","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"ForkEnrichment","comments":"","instanceIdentifier":"370f35d5-ebb1-1e8c-902c-3e524eb62167"},"destination":{"id":"245793e2-eeae-3477-b1a0-2eecaab3b83e","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Enrichment with LINE_ID","comments":"","instanceIdentifier":"33973809-a910-1531-8dcf-e9492ab8dcda"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"e8b4ad7b-6ad9-3531-a8ac-3aba0d38fff9","instanceIdentifier":"fbac3c89-af80-1d71-af94-615c087f6709","name":"","source":{"id":"be0fdda1-2028-3dc9-b94c-9c23360a0fbd","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"ForkEnrichment","comments":"","instanceIdentifier":"370f35d5-ebb1-1e8c-902c-3e524eb62167"},"destination":{"id":"16922eca-205e-3ebe-aaf3-05c5a217783f","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"XXCUST_FAH_IFG_LNS_S.NEXTVAL","comments":"","instanceIdentifier":"7dda329f-2990-1099-9e47-d030fd9d2573"},"labelIndex":1,"zIndex":0,"selectedRelationships":["enrichment"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"195bcf4f-ff5d-3ed4-a9a0-c983d18e0b13","instanceIdentifier":"5bd43522-018b-1000-0000-000075035b7a","name":"","source":{"id":"09f607ab-87ae-3dd1-957f-bab9e3cf0d1d","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Transform to XXCUST_FAH_IFG_LNS","comments":"","instanceIdentifier":"835f37c4-5de9-1430-a071-cb041383bdba"},"destination":{"id":"86a7aa05-85f0-3b5a-9f80-95fd891961aa","type":"PROCESSOR","groupId":"21063eb3-9952-37de-a1a2-fd3cbee842bb","name":"Insert into XXCUST_FAH_IFG_LNS","comments":"","instanceIdentifier":"0aae35f8-356f-1c23-9d7c-99033b857cb8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"}],"labels":[],"funnels":[{"identifier":"33511dc4-0e12-31b0-b50b-901c45afaf69","instanceIdentifier":"70161af1-018b-1000-0000-00005a878801","position":{"x":1352.0,"y":2368.0},"componentType":"FUNNEL","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"571c80cd-6f58-39af-b59b-53b6c310b218","instanceIdentifier":"7015c813-018b-1000-ffff-ffffe23d5ddd","position":{"x":922.1437970373624,"y":2237.646313618331},"componentType":"FUNNEL","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"964bdac9-52a4-3d01-ad1d-9a3af6bb226b","instanceIdentifier":"465b02ee-018b-1000-ffff-ffffb1124249","position":{"x":1664.0,"y":320.0},"componentType":"FUNNEL","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"}],"controllerServices":[{"identifier":"28776713-d87b-3813-8cca-3c26771ed77e","instanceIdentifier":"5bc138ca-018b-1000-ffff-ffffa4c7a1af","name":"LinesAvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"t_ifg_lines":"{\n    \"type\": \"record\",\n    \"name\": \"Record\",\n    \"fields\": [\n        {\n            \"name\": \"pk_composite_key_lines\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"pk_composite_key\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n{\n        \"name\": \"l_dtl_id\",\n        \"type\": [\n        \"string\",\n        \"null\"\n        ]\n        },\n{\n        \"name\": \"hdr_id\",\n        \"type\": [\n        \"string\",\n        \"null\"\n        ]\n        },\n        {\n            \"name\": \"l_line_number\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_line_type\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_applied_to_trx_id\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_applied_to_trx_num\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_entitas_edb\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_entitas_ebs\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_cabang_edb\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_cabang_ebs\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_cost_center_edb\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_cost_center_ebs\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_nat_account_efin_edb\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_nat_account_efin_ebs\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_bank_invest_edb\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_bank_invest_ebs\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_lob_produk_edb\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_lob_produk_ebs\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_channel_edb\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_channel_ebs\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_program_kerja_edb\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_program_kerja_ebs\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_intercompany_edb\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_intercompany_ebs\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_future1_edb\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_future1_ebs\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_future2_edb\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_future2_ebs\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_future3_edb\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_future3_ebs\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_amount\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_base_amount\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_line_description\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_no_kontrak\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_no_polis\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_produk\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_no_claim\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_jenis_klaim_invest\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_nama_bank\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_jenis_klaim\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_interco\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_jns_trans_reasuransi\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_sektor_usaha\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_sektor_mitra\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_wilayah\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_kode_rayon\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_wni\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_attribute24\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_attribute25\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_attribute26\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_attribute27\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_attribute28\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_attribute29\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_attribute30\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_created_by\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_creation_date\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_last_updated_by\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_last_update_date\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_etl_date\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"l_process_flag\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"err_message_1\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"err_message_2\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"err_message_3\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"err_message_4\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"err_message_5\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"err_message_6\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"err_message_7\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"err_message_8\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"err_message_9\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"err_message_10\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"err_message_11\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"err_message_12\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"xla_status\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"created_date\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"last_upd_date\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"err_message\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"event_id\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"h_ledger_id\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"h_ledger_name\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        }\n    ]\n}","avro-reg-validated-field-names":"true","nextval":"{\n  \"type\": \"record\",\n  \"name\": \"line_nextval\",\n  \"namespace\": \"com.cloudera.ifg.data\",\n  \"fields\": [\n    {\n      \"name\": \"LINE_COMPOSITE_KEY\",\n      \"type\": \"string\"\n    },\n    {\n        \"name\": \"LINES_ID\",\n        \"type\": [\n        \"string\",\n        \"null\"\n        ]\n        }\n  ]\n}"},"propertyDescriptors":{"t_ifg_lines":{"name":"t_ifg_lines","displayName":"t_ifg_lines","identifiesControllerService":false,"sensitive":false},"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"nextval":{"name":"nextval","displayName":"nextval","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"25a51697-8042-3756-b8fe-c65fb56af0dd","instanceIdentifier":"be3b4b82-c4f1-1898-0000-00005f32468f","name":"HeaderLinesJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"ae59e818-1e5c-3778-bdf3-605ee142163f","instanceIdentifier":"4662aaa9-018b-1000-ffff-ffffd85372b2","name":"HeaderJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":"yyyy-MM-dd","schema-name":"t_ifg_header","starting-field-strategy":"ROOT_NODE","schema-registry":"74eeba1f-2954-3588-81f0-1448a8c89fe2","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"4ce8b4ea-3498-3702-ab1b-073e79a63fd8","instanceIdentifier":"5f8d4ecc-018b-1000-0000-0000626dda3f","name":"OracleLineJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"lines","starting-field-strategy":"ROOT_NODE","schema-registry":"ee71643e-c811-32a9-959b-b8269cc82e02","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"74eeba1f-2954-3588-81f0-1448a8c89fe2","instanceIdentifier":"4ac8dc5b-018b-1000-0000-00007c8b740d","name":"HeaderAvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"header_nextval":"{\n  \"type\": \"record\",\n  \"name\": \"header_nextval\",\n  \"namespace\": \"com.cloudera.ifg.data\",\n  \"fields\": [\n    {\n      \"name\": \"PK_COMPOSITE_KEY\",\n      \"type\": \"string\"\n    },\n    {\n        \"name\": \"HDR_ID\",\n        \"type\": [\n        \"string\",\n        \"null\"\n        ]\n        }\n  ]\n}","t_ifg_header":"{\n  \"type\": \"record\",\n  \"name\": \"Record\",\n  \"fields\": [\n    {\n      \"name\": \"pk_composite_key\",\n      \"type\": \"string\"\n    },\n{\n        \"name\": \"hdr_id\",\n        \"type\": [\n        \"string\",\n        \"null\"\n        ]\n        },\n    {\n      \"name\": \"h_legal_entity_id\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_ledger_id\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_application_id\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_request_id\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_application_name\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_application_name_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_model_code\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_model_name\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_model_name_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_class_code\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_class_name\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_type_code\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_type_name\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_trx_id\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_trx_num\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_trx_source_description\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_trx_date\",\n      \"type\": [\"null\", {\"type\": \"int\", \"logicalType\": \"date\"}],\n      \"default\": null\n    },\n\t{\n      \"name\": \"h_gl_date\",\n      \"type\": [\"null\", {\"type\": \"int\", \"logicalType\": \"date\"}],\n      \"default\": null\n    },\n    {\n      \"name\": \"h_trx_ref_id\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_currency_code\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_exchange_rate_type\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_exchange_date\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_exchange_rate\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_biaya_adm\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_lebih_bayar\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_no_kontrak\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_no_polis\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_produk\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_no_claim\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_bukti_pembayaran\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_bukti_penerimaan\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_jenisnya\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_bayar_tenor\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_cara_bayar\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_migrasi\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_jenis_klaim\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_nama_peserta\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_no_desisi\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_no_mutasi\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_created_by\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_creation_date\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_last_updated_by\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_last_update_date\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_process_flag\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"err_message_1\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_2\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_3\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_4\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_5\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_6\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_7\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_8\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_9\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_10\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_11\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_12\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"xla_status\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_ledger_name\",\n      \"type\": \"string\"\n    },\n\t{\n        \"name\": \"h_event_id\",\n        \"type\": [\n        \"string\",\n        \"null\"\n        ]\n        },\n\t{\n        \"name\": \"err_message\",\n        \"type\": [\n        \"string\",\n        \"null\"\n        ]\n        },\n\t{\n        \"name\": \"h_created_date\",\n        \"type\": [\n        \"string\",\n        \"null\"\n        ]\n        },\n\t{\n        \"name\": \"h_last_upd_date\",\n        \"type\": [\n        \"string\",\n        \"null\"\n        ]\n        },\n\t{\n        \"name\": \"h_attribute24\",\n        \"type\": [\n        \"string\",\n        \"null\"\n        ]\n        }\n\t\n  ]\n}","avro-reg-validated-field-names":"true"},"propertyDescriptors":{"header_nextval":{"name":"header_nextval","displayName":"header_nextval","identifiesControllerService":false,"sensitive":false},"t_ifg_header":{"name":"t_ifg_header","displayName":"t_ifg_header","identifiesControllerService":false,"sensitive":false},"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"95a336a7-f53a-33d8-b48c-97b8707fa98f","instanceIdentifier":"5bc83816-018b-1000-ffff-ffff80c63c82","name":"LinesNextValJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"nextval","schema-registry":"28776713-d87b-3813-8cca-3c26771ed77e","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"44c4938a-096d-3cc2-9ddc-214cfbd866c8","instanceIdentifier":"03d68404-018b-1000-0000-00006ba7844a","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":"/hadoopfs/fs4/working-dir/cm-auto-host_keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"36633575-018b-1000-ffff-ffffc6d196cf"},{"identifier":"3b1a63c2-b56f-3c5b-8897-deb3e7d338fd","instanceIdentifier":"5bcfdb1e-018b-1000-ffff-ffffce3e12a5","name":"LinesNextValJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"nextval","starting-field-strategy":"ROOT_NODE","schema-registry":"28776713-d87b-3813-8cca-3c26771ed77e","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"76a4f1d9-cf53-3657-a426-b4526466074a","instanceIdentifier":"be3b4b53-c4f1-1898-0000-0000074c9f33","name":"HeaderLinesJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":"yyyy-MM-dd","schema-name":"t_ifg_header_lines","starting-field-strategy":"ROOT_NODE","schema-registry":"f6429819-4a28-3add-8413-75d1d9deb5c9","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"3bb4d48c-bb78-3eaf-8bbb-2a003220e265","instanceIdentifier":"468e73a4-018b-1000-0000-000039c45e04","name":"HeaderNextValJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"header_nextval","schema-registry":"74eeba1f-2954-3588-81f0-1448a8c89fe2","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"cc277f13-8d31-38e3-8cc0-0cc5a0f7778c","instanceIdentifier":"4679b656-018b-1000-ffff-ffff9cd23f36","name":"HeaderDistributedMapCacheServer","comments":"","type":"org.apache.nifi.distributed.cache.server.map.DistributedMapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":null,"Persistence Directory":null,"maximum-read-size":"1 MB","Port":"4557","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false},"maximum-read-size":{"name":"maximum-read-size","displayName":"Maximum Read Size","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"f6429819-4a28-3add-8413-75d1d9deb5c9","instanceIdentifier":"be3b49f3-c4f1-1898-0000-00007d8bdd14","name":"HeaderLinesAvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"avro-reg-validated-field-names":"true","t_ifg_header_lines":"{\n  \"type\": \"record\",\n  \"name\": \"Record\",\n  \"fields\": [\n    {\n      \"name\": \"pk_composite_key\",\n      \"type\": \"string\"\n    },\n{\n        \"name\": \"hdr_id\",\n        \"type\": [\n        \"string\",\n        \"null\"\n        ]\n        },\n    {\n      \"name\": \"h_legal_entity_id\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_ledger_id\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_application_id\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_request_id\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_application_name\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_application_name_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_model_code\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_model_name\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_model_name_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_class_code\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_class_name\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_type_code\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_event_type_name\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_trx_id\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_trx_num\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_trx_source_description\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_trx_date\",\n      \"type\": [\"null\", {\"type\": \"int\", \"logicalType\": \"date\"}],\n      \"default\": null\n    },\n\t{\n      \"name\": \"h_gl_date\",\n      \"type\": [\"null\", {\"type\": \"int\", \"logicalType\": \"date\"}],\n      \"default\": null\n    },\n    {\n      \"name\": \"h_trx_ref_id\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_currency_code\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_exchange_rate_type\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_exchange_date\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_exchange_rate\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_biaya_adm\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_lebih_bayar\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_no_kontrak\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_no_polis\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_produk\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_no_claim\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_bukti_pembayaran\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_bukti_penerimaan\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_jenisnya\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_bayar_tenor\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_cara_bayar\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_migrasi\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_jenis_klaim\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_nama_peserta\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_no_desisi\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_no_mutasi\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_created_by\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_creation_date\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_last_updated_by\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_last_update_date\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"h_process_flag\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_line_number\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_line_type\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_applied_to_trx_id\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_applied_to_trx_num\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_entitas_edb\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_entitas_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_cabang_edb\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_cabang_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_cost_center_edb\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_cost_center_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_nat_account_efin_edb\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_nat_account_efin_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_bank_invest_edb\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_bank_invest_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_lob_produk_edb\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_lob_produk_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_channel_edb\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_channel_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_program_kerja_edb\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_program_kerja_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_intercompany_edb\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"l_intercompany_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_future1_edb\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_future1_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_future2_edb\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_future2_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_future3_edb\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_future3_ebs\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_amount\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_base_amount\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_line_description\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_no_kontrak\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_no_polis\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_produk\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_no_claim\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_jenis_klaim_invest\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_nama_bank\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_jenis_klaim\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_interco\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_jns_trans_reasuransi\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_sektor_usaha\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_sektor_mitra\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_wilayah\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_kode_rayon\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_wni\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_attribute24\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_attribute25\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_attribute26\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_attribute27\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_attribute28\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_attribute29\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_attribute30\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_created_by\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_creation_date\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"l_last_updated_by\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"l_last_update_date\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"l_etl_date\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"l_process_flag\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"err_message_1\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_2\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_3\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_4\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_5\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_6\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_7\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_8\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_9\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_10\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_11\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"err_message_12\",\n      \"type\": \"null\"\n    },\n    {\n      \"name\": \"xla_status\",\n      \"type\": \"string\"\n    },\n    {\n      \"name\": \"h_ledger_name\",\n      \"type\": \"string\"\n    }\n  ]\n}"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"t_ifg_header_lines":{"name":"t_ifg_header_lines","displayName":"t_ifg_header_lines","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"746407ee-4ae7-39fa-8751-23eaf3e6ff57","instanceIdentifier":"4b10686c-018b-1000-0000-00002ee7b495","name":"OracleHeaderJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":"yyyy-MM-dd","schema-name":"header","starting-field-strategy":"ROOT_NODE","schema-registry":"ee71643e-c811-32a9-959b-b8269cc82e02","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"4423b870-f81b-32c2-bb29-97b383a553b8","instanceIdentifier":"5bbf67e0-018b-1000-ffff-ffff85ff92d6","name":"LinesJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"t_ifg_lines","starting-field-strategy":"ROOT_NODE","schema-registry":"28776713-d87b-3813-8cca-3c26771ed77e","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"d842a496-1306-39c5-8ed1-20924c83262a","instanceIdentifier":"46b3e7b8-018b-1000-ffff-fffff4478a2e","name":"HeaderNextValJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"header_nextval","starting-field-strategy":"ROOT_NODE","schema-registry":"74eeba1f-2954-3588-81f0-1448a8c89fe2","starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"51823acf-fee7-3b47-9b36-270e6fff8359","instanceIdentifier":"46787120-018b-1000-0000-000051eb2d25","name":"HeaderDistributedMapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"a0f3d916-b395-35cd-8815-714e7ead71f7","instanceIdentifier":"be3b4e59-c4f1-1898-ffff-ffffcc6ce01d","name":"SimpleDatabaseLookupService","comments":"","type":"org.apache.nifi.lookup.db.SimpleDatabaseLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"dbrecord-lookup-dbcp-service":"c6383d6a-0a5d-35fc-971d-a4d08d358d7c","dbrecord-lookup-clear-cache-on-enabled":"true","lookup-value-column":"HDR_ID","dbrecord-lookup-cache-size":"0","dbrecord-lookup-key-column":"PK_COMPOSITE_KEY","Cache Expiration":"0 sec","dbrecord-lookup-table-name":"XXCUST_FAH_IFG_HDR_COMPOSITE_V"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false},"lookup-value-column":{"name":"lookup-value-column","displayName":"Lookup Value Column","identifiesControllerService":false,"sensitive":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"ca6004e8-e01c-3a62-976f-07ec170c2e58","instanceIdentifier":"5b7b8b94-018b-1000-0000-00005a8b76ef","name":"LinesJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"t_ifg_lines","schema-registry":"28776713-d87b-3813-8cca-3c26771ed77e","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"ee71643e-c811-32a9-959b-b8269cc82e02","instanceIdentifier":"472175b8-018b-1000-0000-000070969d1a","name":"OracleAvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"avro-reg-validated-field-names":"true","header":"{\n        \"type\": \"record\",\n        \"name\": \"oracle_stream_header\",\n        \"namespace\": \"oracle_stream_header\",\n        \"fields\": [\n        {\n        \"name\": \"HDR_ID\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\n        {\n        \"name\": \"APPLICATION_NAME\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\n        {\n        \"name\": \"ENTITY_CODE\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\n        {\n        \"name\": \"EVENT_CLASS_CODE\",\n        \"type\":[\n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\n        {\n        \"name\": \"EVENT_TYPE_CODE\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n        {\n        \"name\": \"TRX_ID\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n        {\n        \"name\": \"TRX_NUM\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n        {\n        \"name\": \"TRX_SOURCE_DESCRIPTION\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\n\t\t{\n      \"name\": \"TRX_DATE\",\n      \"type\": [\"null\", {\"type\": \"int\", \"logicalType\": \"date\"}],\n      \"default\": null\n    },\n\t{\n      \"name\": \"GL_DATE\",\n      \"type\": [\"null\", {\"type\": \"int\", \"logicalType\": \"date\"}],\n      \"default\": null\n    },\n        {\n        \"name\": \"TRX_REF_ID\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n        {\n        \"name\": \"CURRENCY_CODE\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n       {\n        \"name\": \"EXCHANGE_RATE_TYPE\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\n\t\t{\n        \"name\": \"EXCHANGE_DATE\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\n\t\t{\n        \"name\": \"EXCHANGE_RATE\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\n\t\t{\n        \"name\": \"BIAYA_ADM\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\n\t\t{\n        \"name\": \"LEBIH_BAYAR\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\n\t\t{\n        \"name\": \"NO_KONTRAK\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"NO_POLIS\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"PRODUK\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"NO_CLAIM\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\t\n\t\t{\n        \"name\": \"BUKTI_PEMBAYARAN\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\n\t\t{\n        \"name\": \"BUKTI_PENERIMAAN\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\n\t\t{\n        \"name\": \"JENISNYA\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\n\t\t{\n        \"name\": \"BAYAR_TENOR\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\n\t\t{\n        \"name\": \"CARA_BAYAR\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"MIGRASI\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\n\t\t{\n        \"name\": \"JENIS_KLAIM\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"NAMA_PESERTA\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\n\t\t{\n        \"name\": \"NO_DESISI\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"NO_MUTASI\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"LEGAL_ENTITY_ID\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\n\t\t{\n        \"name\": \"LEDGER_ID\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"APPLICATION_ID\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"EVENT_ID\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"REQUEST_ID\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\n\t\t{\n        \"name\": \"CREATED_BY\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"CREATION_DATE\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\n\t\t{\n        \"name\": \"LAST_UPDATED_BY\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"LAST_UPDATE_DATE\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"XLA_STATUS\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\n\t\t{\n        \"name\": \"ERR_MESSAGE\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"CREATED_DATE\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"LAST_UPD_DATE\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"ATTRIBUTE24\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\t\n\t\t{\n        \"name\": \"PROCESS_FLAG\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        },\t\n\t\t{\n        \"name\": \"LEDGER_NAME\",\n        \"type\":[ \n        \"string\",\n\t\t\"null\"\n\t\t]\n        }\t\t\n        ]\n\t\t}","lines":"{\n    \"type\": \"record\",\n    \"name\": \"oracle_stream_lines\",\n    \"namespace\": \"oracle_stream_lines\",\n    \"fields\": [\n        {\n            \"name\": \"DTL_ID\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"HDR_ID\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"LINE_NUMBER\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"LINE_TYPE\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"CABANG\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"COST_CENTER\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"NAT_ACCOUNT_EFIN\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"BANK_INVEST\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"LOB_PRODUK\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"CHANNEL\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"PROGRAM_KERJA\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"INTERCOMPANY\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"FUTURE1\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"FUTURE2\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"FUTURE3\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"AMOUNT\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"BASE_AMOUNT\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"LINE_DESCRIPTION\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"NO_KONTRAK\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"NO_POLIS\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"PRODUK\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"NO_CLAIM\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"JENIS_KLAIM_INVEST\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"NAMA_BANK\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"JENIS_KLAIM\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"INTERCO\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"JNS_TRANS_REASURANSI\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"SEKTOR_USAHA\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"SEKTOR_MITRA\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"WILAYAH\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"KODE_RAYON\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"WNI\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"ATTRIBUTE25\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"ATTRIBUTE26\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"ATTRIBUTE27\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"ATTRIBUTE28\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"ATTRIBUTE29\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"ATTRIBUTE30\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"CREATED_BY\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"CREATION_DATE\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"LAST_UPDATED_BY\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"LAST_UPDATE_DATE\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"CREATED_DATE\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"LAST_UPD_DATE\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"ATTRIBUTE24\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"XLA_STATUS\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"ERR_MESSAGE\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"EVENT_ID\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"LEDGER_ID\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"LEDGER_NAME\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        },\n        {\n            \"name\": \"ENTITAS\",\n            \"type\": [\n                \"string\",\n                \"null\"\n            ]\n        }\n    ]\n}"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"header":{"name":"header","displayName":"header","identifiesControllerService":false,"sensitive":false},"lines":{"name":"lines","displayName":"lines","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"e149220e-e665-3134-82c1-80ae639e02e8","instanceIdentifier":"46613bdc-018b-1000-ffff-ffffa28a7a7f","name":"HeaderJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":"yyyy-MM-dd","Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"t_ifg_header","schema-registry":"74eeba1f-2954-3588-81f0-1448a8c89fe2","Time Format":null,"schema-access-strategy":"schema-name","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"c6383d6a-0a5d-35fc-971d-a4d08d358d7c","instanceIdentifier":"3b8480c8-018b-1000-ffff-ffffe84a1516","name":"OracleDBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"oracle.jdbc.OracleDriver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:oracle:thin:@//10.0.2.11:1521/ebs_IFGDEV","dbcp-time-between-eviction-runs":"-1","Database User":"xxcust","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/nifi/ojdbc8.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"},{"identifier":"938f3e77-d440-30a7-9568-19a44e1533d9","instanceIdentifier":"5bd78702-018b-1000-0000-000010ef4693","name":"LinesJsonRecordSetWriter2","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.21.0.2.2.7.100-3"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.21.0.2.2.7.100-3"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"21063eb3-9952-37de-a1a2-fd3cbee842bb"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}